@import '../base/colors';

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  gap: 30px;

  &__item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
    overflow: hidden;

    transition: box-shadow 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  &__item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }

  &__info {
    padding: 20px 24px;
    border: 1px solid #eee;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
  }

  &__type {
    color: map-get($map: $main-colors, $key: 'contact-color');
    font-size: 16px;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__desc {
    position: absolute;
    top: 0;

    padding: 63px 24px;

    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: 0.54px;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1),
      box-shadow 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  &__item:hover &__desc {
    transform: translateY(0%);
  }
}
